[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  dbus = True
  borderless = True
  handle_size = 0
  focus = mouse
[keybindings]
[profiles]
  [[dark 6]]
    use_system_font = False
    font = Monospace 10
    background_darkness = 0.6
    scrollback_lines = 9999
    background_type = transparent
    scrollbar_position = hidden
    cursor_color = "#ff00ff"
    foreground_color = "#ffffff"
    scroll_on_output = False
    show_titlebar = False
    copy_on_selection = True
    cursor_blink = False
  [[dark 7]]
    use_system_font = False
    font = Monospace 10
    background_darkness = 0.7
    scrollback_lines = 9999
    background_type = transparent
    scrollbar_position = hidden
    cursor_color = "#ff00ff"
    foreground_color = "#ffffff"
    scroll_on_output = False
    show_titlebar = False
    copy_on_selection = True
    cursor_blink = False
  [[dark 4]]
    use_system_font = False
    font = Monospace 10
    background_darkness = 0.4
    scrollback_lines = 9999
    background_type = transparent
    scrollbar_position = hidden
    cursor_color = "#ff00ff"
    foreground_color = "#ffffff"
    scroll_on_output = False
    show_titlebar = False
    copy_on_selection = True
    cursor_blink = False
  [[dark 5]]
    use_system_font = False
    font = Monospace 10
    scrollback_lines = 9999
    background_type = transparent
    scrollbar_position = hidden
    cursor_color = "#ff00ff"
    foreground_color = "#ffffff"
    scroll_on_output = False
    show_titlebar = False
    copy_on_selection = True
    cursor_blink = False
  [[default]]
    use_system_font = False
    font = Monospace 10
    background_darkness = 0.59
    scrollback_lines = 9999
    background_type = transparent
    scrollbar_position = hidden
    cursor_color = "#ff00ff"
    foreground_color = "#ffffff"
    scroll_on_output = False
    show_titlebar = False
    copy_on_selection = True
    cursor_blink = False
  [[matrix]]
    use_system_font = False
    background_darkness = 0.0
    background_type = transparent
    scrollbar_position = hidden
    foreground_color = "#ffffff"
    show_titlebar = False
    antialias = False
    font = Source Code Pro Heavy 6
[layouts]
  [[default]]
    [[[child1]]]
      profile = default
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
